<ng-container *ngIf="(items | async)?.length > 0">
  <ion-virtual-scroll [items]="(items | async)" approxItemHeight="500px">
    <ion-row *virtualItem="let item" class="ion-align-items-center ion-justify-content-center">
      <ion-card class="ion-margin-bottom">
        <div class="ion-flex ion-align-items-center ion-justify-content-center">
          <ion-img [src]="item.photo" [alt]="item.text"
            (ionError)="item.photo = 'https://picsum.photos/500/500?random='+item.id">
          </ion-img>
        </div>
        <ion-card-header>
          <ion-card-title>ID: {{item.id}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ item.text }}</ion-card-content>
      </ion-card>
    </ion-row>
  </ion-virtual-scroll>
</ng-container>
<ng-container *ngIf="(items | async)?.length == 0">
  <div class="ion-flex ion-align-items-center ion-justify-content-center">
    <h5 id="cardEmpty">No results</h5>
  </div>
</ng-container>