@import "../../../../theme/variables.scss";

@mixin ion-card-mixin {
  max-width: 500px;
  ion-card-title{
    font-size: 1rem;
  }
  ion-card-content{
    font-size: .75rem;
  }
}

ion-img {
  height: 500px;

  &::part(image) {
    height: auto !important;
    width: auto !important;
  }
}

ion-card {
  @include ion-card-mixin;

  @for $i from 1 through 1999 {
    &#card-#{$i} {
      ion-card-title {
        --color: var(--ion-color-success);
      }
    }
  }

  @for $i from 2000 through 2999 {
    &#card-#{$i} {
      ion-card-title {
        --color: var(--ion-color-warning);
      }
    }
  }

  @for $i from 3000 through 4000 {
    &#card-#{$i} {
      ion-card-title {
        --color: var(--ion-color-danger);
      }
    }
  }
}
