ion-img {
  height: 500px;
  &::part(image) {
    height: auto !important;
    width: auto !important;
  }
}
ion-card{
  max-width: 500px !important;
}
cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
}
